<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="container">
            <h1>ユーザーid: <%= @user.id%><h1>

            <h5>Email</h5> 
            <%= @user.email %>

            <h5>User名</h5>
            <% if @user.name == nil %>
            name: null
            <% end %>

            <%= @user.name %>
            
            following: <%= @user.following.count %> , followers: <%= @user.followers.count %>
            
            <%= render 'follow_form' %>
        </div>
    </div>
    <div class="col-md-8 col-sm-12">
        <div class="container">
            <h3>MyPost</h3>
            <div class="post-list">
            <% @posts.each do |post| %>
                    <%= link_to(post, class:"list-group-item list-group-item action") do %>
                        <%= post.name %>
                        <%= post.content_public %>
                    <% end %>
            <% end %>
            </div>
        </div>
    </div>
</div>