<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 user_profile"> 
        <% if @user.image.attached? %>
            <%= image_tag @user.image, class:"prof_image" %>
        <% end %>
        <h5 class="user_name"><%= @user.name %></h5>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1  1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
            </svg>
            <%= @user.following.count %>
            <%= link_to "following", following_path(id: @user.id ) %>
            ・
            <%= @user.followers.count %>
            <%= link_to "followers", follower_path(id: @user.id) %>
        </div>
        <%= render 'follow_form' %>

        <%= link_to 'Twitter', "https://twitter.com/share?url=#{request.url}", title: 'Test', target: '_blank' %>

    </div>

    <div class="col-md-8">
        <% if @posts.length > 0 %>
            <h3><span class="badge badge-secondary"><%= @posts.size %> Posts</span></h3>
            <% @posts.each do |post| %>
                <div class="user-post-each">
                    <%= link_to(post, class:"btn user-post-list") do %>
                        <div class="row">
                            <div class="col-md-8">
                                <h5><%= truncate(post.name, :length => 20) %></h5>
                                <div class="rate-space ">difficulty <span class="rate rate<%= post.difficulty %>"><span></div>      
                                <div class="rate-space ">volume <span class="rate rate<%= post.volume %>"><span></div>                        
                                <div class="rate-space ">recommendation <span class="rate rate<%= post.point %>"><span></div>
                                <span class="post_time"><%= get_elapsed_time(post.created_at) %><span>
                            </div>
                            <div class="col-md-3">
                                <% if post.image_url != nil %>                             
                                    <%= image_tag post.image_url, :width => '100%'%>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        <% else %>
            <%= render 'welcome' %>
        <% end %>
    <div>
</div>