<h3>Search for a user</h3>
<%= form_with url: user_searches_path, method: :get, local: true do |f| %>
    <div class="form-group">
        <%= f.label :keyword %>
        <%= f.text_field :keyword, class: "form-control" %>
    </div>
    <%= f.submit "search", class: "btn btn-outline-primary" %>
<% end %>

<%= link_to "Developer's Account (taigamur)" ,  user_path(id: 1), class:"btn btn-outline-secondary user_searches_link" %>