<h1>投稿の編集</h1>

<%= form_with(model: @post, class: "form-horizontal") do |f| %>
  <div id="errors"></div>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content_private %>
    <%= f.text_field :content_private, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content_public %>
    <%= f.text_field :content_private, class: "form-control" %>
  </div>




  <%= f.submit class: "btn btn-primary" %>



<% end %>
