<% @posts.each do |post| %>

    <div class="post-each">
        <%= link_to(post, class:"btn post-index") do %>     
            <div class="row">
                <div class="col-md-9">
                    <h5><%= truncate(User.find(post.user_id).name, :length => 10)%>
                    <h5><%= truncate(post.name, :length => 30) %></h5>
                    
                    <%= post.created_at %>
                </div>
                <div class="col-md-3">
                    <% if post.image_url != nil %>                             
                        <%= image_tag post.image_url, :height => '100%'%>
                    <% end %>
                </div>
            
            </div>
        <% end %>
    </div>
<% end %>