<% if @posts.length > 0 %>
    <% @posts.each do |post| %>
        <div class="post-each">
            <%= link_to(post, class:"btn post-index") do %>     
                <div class="row">
                    <div class="col-md-3 post_prof_pos">
                        <% if User.find(post.user_id).image.attached? %>
                            <%= image_tag User.find(post.user_id).image, class:"prof_image_post_index" %>
                        <% end %>
                        <h5><%= truncate(User.find(post.user_id).name, :length => 15)%></h5>
                    </div>
                    <div class="col-md-6 post_index_pos" >
                        <h5><%= truncate(post.name, :length => 30) %></h5>
                            <!--左余白の問題あり-->
                            <div class="rate-space ">
                                <span class="difficulty">difficulty <span> <span class="rate rate<%= post.difficulty %>"><span>
                            </div>
                            <div class="rate-space ">
                                <span class="difficulty">volume <span> <span class="rate rate<%= post.volume %>"><span>
                            </div>                           
                            <div class="rate-space ">
                                <span class="recommendation">recommendation <span><span class="rate rate<%= post.point %>"><span>
                            </div>

                            <span class="post_time"><%= get_elapsed_time(post.created_at) %><span>
                    </div>
                    <div class="col-md-3">
                        <% if post.image_url != nil %>                             
                            <%= image_tag post.image_url, :height => '100%'%>
                        <% end %>
                    </div>
                
                </div>
            <% end %>
        </div>
    <% end %>
<% else %>
    <%= render 'welcome' %>
<% end %>