<%= link_to "back", new_search_path, class: "btn btn-outline-secondary" %>

<h1>New Post</h1>

<div class="row">
  <div class="col-md-3">
    <% if @image != nil %>
      <%= image_tag @image, :width => '100%' %>
    <% else %>
      <%= image_tag 'no_image.png', :size => '120x120' %>
    <% end %>
  </div>

  <div class="col-md-9">
    Title:
    <h5><%= @title %></h5>
    Author:
    <h5><%= @author %></h5>
  </div>
</div>

<%= form_with(model: @post, class: "form-horizontal new-form-pos", local: true) do |f| %>

  <%= f.hidden_field :image_url, value: @image %>
  <%= f.hidden_field :name, value: @title%>
  <%= f.hidden_field :author, value: @author %>

  <%= f.label :point, "Point"%>
  <% if @post.errors[:point].size != 0 %>
    <div class="alert alert-danger">
      <%= "Point can't be blank" %>
    </div>
  <% end %>
  <div class="radio">
    <label class="radio-inline">
    <%= f.radio_button :point, "1"%><span>1</span>
    </label>
    <label class="radio-inline">
    <%= f.radio_button :point, "2"%><span>2</span>
    </label>
    <label class="radio-inline">
    <%= f.radio_button :point, "3"%><span>3</span>
    </label>
    <label class="radio-inline">
    <%= f.radio_button :point, "4"%><span>4</span>
    </label>
    <label class="radio-inline">
    <%= f.radio_button :point, "5"%><span>5</span>
    </label>
  </div>

  <%= f.label :volume, "Volume"%>
  <% if @post.errors[:volume].size != 0 %>
    <div class="alert alert-danger">
      <%= "Volume can't be blank" %>
    </div>
  <% end %>
  <div class="radio">
    <label class="radio-inline">
    <%= f.radio_button :volume, "1"%><span>1</span>
    </label>
    <label class="radio-inline">
    <%= f.radio_button :volume, "2"%><span>2</span>
    </label>
    <label class="radio-inline">
    <%= f.radio_button :volume, "3"%><span>3</span>
    </label>
    <label class="radio-inline">
    <%= f.radio_button :volume, "4"%><span>4</span>
    </label>
    <label class="radio-inline">
    <%= f.radio_button :volume, "5"%><span>5</span>
    </label>
  </div>

  <%= f.label :difficulty, "Difficulty"%>
  <% if @post.errors[:difficulty].size != 0 %>
    <div class="alert alert-danger">
      <%= "Difficulty can't be blank" %>
    </div>
  <% end %>
  <div class="radio">
    <label class="radio-inline">
    <%= f.radio_button :difficulty, "1"%><span>1</span>
    </label>
    <label class="radio-inline">
    <%= f.radio_button :difficulty, "2"%><span>2</span>
    </label>
    <label class="radio-inline">
    <%= f.radio_button :difficulty, "3"%><span>3</span>
    </label>
    <label class="radio-inline">
    <%= f.radio_button :difficulty, "4"%><span>4</span>
    </label>
    <label class="radio-inline">
    <%= f.radio_button :difficulty, "5"%><span>5</span>
    </label>
  </div>
      
  
  <div class="form-group">
    <%= f.label :content_public, "Comment" %>
    <%= f.text_area :content_public, class: "form-control", size:"5x5" %>
  </div>

  <%= f.submit class: "btn btn-outline-primary" %>
<% end %>


