<div class="container">
  <h1>New Post</h1>

  <%= form_with(model: @post, class: "form-horizontal") do |f| %>
    <div id="errors"></div>
    <% if @image != nil %>
      <%= image_tag @image %>
    <% else %>
      <%= image_tag 'no_image.png', :size => '120x120' %>
    <% end %>
    
    <%= f.hidden_field :image_url, value: @image %>
    <h5><%= @title %></h5>
    <%= f.hidden_field :name, value: @title%>

    <% @author.each do |author| %>
      <%= author %>
    <% end %>

    <%= f.hidden_field :author, value: @author %>
 
    <div class="form-group">
      <%= f.label :content_private %>
      <%= f.text_field :content_private, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :content_public %>
      <%= f.text_field :content_public, class: "form-control" %>
    </div>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
  
  <%= link_to "戻る", new_search_path %>
</div>