<div class="row post_show">
    <div class="col-md-3 post_show_profile">
        <% if User.find(@post.user_id).image.attached? %>
            <%= image_tag User.find(@post.user_id).image, class:"prof_image_post_show" %>
        <% end %>
        <h5><%= User.find(@post.user_id).name%></h5>
    </div>
    <div class="col-md-6">
        <h5><%= @post.name %><h5>

        <%= @post.author %>
        <div class="rate-space ">
            <span class="difficulty">difficulty:<span>
            <span class="rate rate<%= @post.difficulty %>"><span>
        </div>    
        <div class="rate-space">
            <span class="vaolume">volume:<span>
            <span class="rate rate<%= @post.volume %>"><span>
        </div>                    
        <div class="rate-space">
            <span class="recommendation">recommendation:<span>
            <span class="rate rate<%= @post.point %>"><span>
        </div>

        <span class="post_time"><%= get_elapsed_time(@post.created_at) %><span>

        <h3 class="post_show_comment">Comment</h3> 
        <div>
            <%= @post.content_public %>
        </div>
        <% if @post.user_id == current_user.id %>
            <div class="option-btn">
                <%= link_to "Edit", edit_post_path(@post) , class: "btn btn-outline-secondary" %>
                <%= link_to "Delete", post_path(@post), method: :delete , data: {confirm: "Do you want to delete this post？" }, class: "btn btn-outline-danger" %>
            </div>
        <% end %>
    </div>
    <div class="col-md-2">
        <%= image_tag @post.image_url , :width => '100%'%>
    </div>
    <div class="col-md-2"></div>
</div>
