<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>MyBookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_user %>
  
        id:
        <%= current_user.id %>
        <%= current_user.email %>さん
        
        <%= current_user.name %>さん
        <div>
        following: <%= current_user.following.count %> , followers: <%= current_user.followers.count %>
        </div>
        <hr>

        <%= link_to "Home", root_path %>
        <%= link_to "Logout", log_out_path, data: {confirm: "ログアウトしますか？" }%>
        <%= link_to 'MyProfile', home_path(id: current_user.id) %>
        <%= link_to "Post", new_search_path %>
        <%= link_to "Bookmark", ' ' %>
        <%= link_to "All User", users_path %>
        <%= link_to "MyPage", user_path(id: current_user.id) %>

        <hr>
      <% end %>
    </header>

   
      <% flash.each do |message_type, message| %>
        <div class="alert alert-success"><%= message %></div>
      <% end %>

      <%= yield %>

  </body>
</html>
