<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>MyBookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_user %>
  
        id:
        <%= current_user.id %>
        <%= current_user.email %>さん
        
        <%= current_user.name %>さん

        <%= link_to "ホームに戻る", root_path %>
        <%= link_to "ログアウト", log_out_path, data: {confirm: "ログアウトしますか？" }%>
        <%= link_to "新規投稿", new_post_path %>
        <%= link_to 'マイプロフィール', user_path(id: current_user.id) %>
        <%= link_to "マイライブラリ", posts_path(id: current_user.id) %>
        <%= link_to "ブックマーク", '' %>

        <hr>
      <% end %>
    </header>

    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-success"><%= message %></div>
      <% end %>



      <%= yield %>
    </div>
  </body>
</html>
